/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.logo {
            font-size: 3rem;
            font-weight: bold;
            color: #f0d000;
            padding: 20px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre botones */
}

.button {
    width: 150px; /* Ajusta el tamaño de los botones */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.1); /* Efecto al pasar el cursor */
}
